@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Playfair+Display:100,200,300,400,500,600,700|Nanum+Gothic:100,200,300,400');

body {
    font-family: "Merriweather", sans-serif;
    background-color: rgba(169, 144, 157, 0.42);
    font-weight: 400;

}




/* ------------------------Button/Download--------------------*/

.btn {
    font: 16px "Playfair", sans-serif;
    font-weight: bold;
    color: #472e5a;
    margin: 20px 0px;
    padding: 10px 15px;
    border: 2px solid #d1be7b;
    display: inline-block;
}

/*---------------------HOMEPAGE/JUMBOTRON--------------------*/

.homepage-container {
    height: 100vh;
    width: 100vw;
    background: url(../images/img-homepage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*------------------------JUMBOTRON ---------------------*/

.jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
    padding: 150px 700px 50px 0;
}

.header {
    color: #3e2832;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 10px;
}


.header {
    font-family: "Playfair", sans-serif;
}

span {
    font-family: "Merriweather", sans-serif;
}

.title {
    font-family: "Playfair", sans-serif;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4f3943;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4f3943;
    color: #4f3943;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0;
}


/*---------------------------------NAVBAR ------------*/

.navbar {
    background-color: rgba(0, 0, 0, 0.55);
    overflow: hidden;
    position: fixed;
}

.navbar-menu {
    padding-left: 0;
    padding-right: 0;

}

.navbar-light .navbar-brand {
    letter-spacing: 1px;
    color: #d1be7b;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.navbar-light .navbar-brand:hover {
    color: #fafafa;
}

.navbar .navbar-nav a {
    font-weight: 400;
    color: #d1be7b;
    letter-spacing: 1px;
    text-decoration: none;

}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
    color: #d1be7b;
}


/*-----------NAVBAR - MOBILE VERSION ------------*/

.navbar-collapse {
    text-align: right;
    display: block;
}

.navbar-toggler {
    line-height: 1;
    background-color: #f8f9fa7a;
    border: 1px solid #fafaf8;
    border-radius: .25rem;
}

/*----------------------------TITLES/HEADERS----------------------------*/

h2 {
    font-family: "Merriweather", sans-serif;
    color: #3f2440;
    background-color: transparent;
    margin-top: 20px;
    letter-spacing: 2px;
}

.title-divider {
    width: 70px;
    height: 5px;
    background-color: #d1be7b;
    margin: 0 0 20px 0;
}

/*--------------------------ABOUT -------------------*/

.about {
    height: 620px;
}

.about-me {
    width: 100vw;
    background: url(../images/imgabout.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #f6f4f5;
    position: relative;

}

.personalinfo-container,
.about-container {
    background-color: rgba(250, 250, 250, 0.69);
    margin-bottom: 20px;
    margin-top: 10px;
}



a {
    text-decoration: none;
    color: #3f2440;
}

ul {
    padding: 0;
}

.personal-info ul li {
    border-bottom: 1px solid #d1be7b;
    padding: 35px 0;
    list-style: none;
    color: #3f2440;

}


/*--------------------------------------SKILLS --------*/

.skills {

    background-color: rgba(250, 250, 250, 0.69);
    width: 100vw;
}

.skills-item-container {
    margin-top: 0;
    margin-bottom: 15px;
    background-color: #fafafa33;
}



.progress {
    background-color: rgb(90, 77, 89);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 20px;
}

.progress-bar {
    background-color: #d1be76;
}

.progress-item {
    position: absolute;
    font-weight: 200;
    padding: 3px 30px 2px 10px;
    color: #3f2440;
    background-color: rgba(25, 25, 25, 0.2);
    border-radius: 10px;
    height: 20px;
}


h3 {
    font-size: 20px;
    font-weight: bold;
    color: #3f2440;
}

/*-------------------- EXPERIENCE-EDUCATION---------------*/

.experience {
    width: 100vw;
    background: url(../images/expimg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.experience-container,
.education-container {
    background-color: rgba(250, 250, 250, 0.69);
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}



.timeline-item {
    padding: 1em 2em 0em 2em;
    position: relative;
    color: #3f2440;
    font-weight: 500;
    border-left: 2px solid #d1be76;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: -4em;
    right: 2.5em;
    position: relative;
    border-radius: 50%;
    content: '';
    background: #d1be76;
}

/*---------------------CONCTACT-----------------*/

.contact {
    width: 100vw;
    background: url(../images/contact-img.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.position-contact {
    background-color: #fafafa36;
    margin-top: 20px;
    margin-bottom: 20px;
}


.contact-text {
    color: #3f2440;
}

.contact-item {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #d1be76;
    border-radius: .50em;
    margin-bottom: 5px;
}

/*-------------------FOOTER----------------------*/

footer {
    margin: 0;
    border-color: transparent;
    text-align: center;
}

i {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding-top: 12.5px;
    background-color: #d1be7b;
    margin: 10px 0 10px 10px;
}

i:hover {
    color: #564F6F;

}

/*------------------ MEDIA QUERRIES--------------*/

@media (max-width: 320px) {
    h2 {
        font-size: 20px;
    }

    .skill-item-desc {
        font-weight: bold;

    }

    .progress-item {
        font-weight: bold;
    }


}

@media (max-width: 575px) {

    .container-fluid {
        font-size: 10px;
    }

    .jumbotron {
        background-color: transparent;
        margin-bottom: 0px;
        padding: 5px 0px 100px 0;
    }

    .navbar-toggler {
        line-height: 1;
        background-color: #f8f9fa7a;
        border: 1px solid #fafaf8;
        border-radius: 0.1rem;
    }

    .header {
        font-size: 30px;
        font-weight: 300;
    }

    .title {
        font-size: 15px;
    }
}

@media (min-width: 576px) and (max-width:768px) {

    .jumbotron {
        background-color: transparent;
        margin-bottom: 0px;
        padding: 5px 0px 100px 0;
    }
}

@media (max-width: 767px) {
    .experience {
        background-image: none;
    }


    .personalinfo-container {
         margin-bottom: 20px;
        margin-top: 0px;
        
    }

    .about-container {
       margin-bottom: 0px;
        margin-top: 10px;
    }

    .experience-container {
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 0px;

    }

    .education-container {
        padding-bottom: 10px;
        margin-top: 0px;
        margin-bottom: 20px;

    }

    .contact {
        background-image: none;
    }
}
