@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Playfair+Display:100,200,300,400,500,600,700|Nanum+Gothic:100,200,300,400');

body {
    font-family: "Merriweather", sans-serif;
    background-color: #a9909d;
    width:100%;
}


/* ------------------------Button/Download--------------------*/

.btn {
    font: 16px "Playfair", sans-serif;
    color: #472e5a;
    margin: 20px 0px;
    padding: 10px 15px;
    border: 2px solid #d1be7b;
    display: inline-block;
}

/*---------------------HOMEPAGE/JUMBOTRON--------------------*/

.homepage-container {
    height: 100vh;
    background: url(../images/logo1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}



/*------------------------Jumbotron ---------------------*/

.jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
    padding: 150px 700px 50px 0;
}

.header {
    color: #3e2832;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 10px;
}


.header {
    font-family: "Playfair", sans-serif;
}

span {
    font-family: "Merriweather", sans-serif;
}

.title {
    font-family: "Playfair", sans-serif;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4f3943;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #4f3943;
    color: #4f3943;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0;
}


/*---------------------------------Navbar ------------*/

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    position: fixed;

}

.navbar-menu {
    padding-left: 0;
    padding-right: 0;

}

.navbar-light .navbar-brand {
    letter-spacing: 1px;
    color: #d1be7b;
    font-size: 20px;
    font-weight: bold;

}

.navbar .navbar-nav a {
    font-weight: bold;
    color: #d1be7b;
    letter-spacing: 1px;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #d1be7b;
}

.fa-home {
    color: #d1be7b;
}



/*-----------For mobile ------------*/

.navbar-collapse {
    text-align: right;
    display: block;
}

.navbar-toggler {
    line-height: 1;
    background-color: #f8f9fa7a;
    border: 1px solid #fafaf8;
    border-radius: .25rem;
}

/*----------------------------TITLES/HEADERS----------------------------*/

h2 {
    font-family: "Nanum+Gothic", sans-serif;
    color: #3f2440;
    background-color: transparent;
    margin-top:20px;
}

.title-divider{
    width: 70px;
    height: 5px;
    background-color: #d1be7b;
    margin: 0 0 20px 0;
}

/*--------------------------ABOUT ME-------------------*/

a{
    text-decoration: none;
    color:#3f2440;
}

ul{
    padding:0;
}

.personal-info ul li {
    border-bottom: 1px solid #d1be7b;
    padding: 35px 0;
    list-style:none;
    color:#3f2440;
    
}

.aboutme-container {}

.skills-container {}

.experience-container {}


.contact-container {}


/*------------------ MEDIA QUERRIES--------------*/

@media (max-width: 576px) {
    .homepage-container {
        background-attachment: scroll;
        background-image: none;
    }

   .container-fluid{
       font-size:10px;
   }
   
   .jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
    padding: 150px 0px 50px 0;
}
  .navbar-toggler {
    line-height: 1;
    background-color: #f8f9fa7a;
    border: 1px solid #fafaf8;
    border-radius: 0.1rem;
  }
  
  .header {
    font-size: 30px;
    font-weight: 300;
}

.title{
    font-size: 15px;    
}
}

@media (min-width: 576px) and (max-width:768px){
    .homepage-container {
        background-attachment: scroll;
        background-image:none;
    }
    
    .jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
    padding: 150px 0px 50px 0;
}
/*
@media (min-width:768px){
    .jumbotron{
        padding-top:48px;
        padding-bottom:48px;
    }
}

*/

/*
.logo{
    background: url(../images/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 200px;
}
.menucontainer{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(105,52,102,1.3);
  overflow-x: hidden;
  padding-top: 250px;
    
}

.menuitem {
  padding: 6px 6px 6px 10px;
  text-decoration: none;
  font-size: 14px;
  color: #e5c54b;
  display: block;
  text-transform: uppercase;
}


*/
